--------------------------------------------------------------------------------
-- Average time a visitor spends inside the place
SELECT 
    AVG(DATEDIFF(MINUTE, entry_time, exit_time)) AS avg_dwell_minutes
FROM dbo.Session_Info
WHERE exit_time IS NOT NULL;

--------------------------------------------------------------------------------
-- Peak hours when the place is busiest
SELECT top 3
    DATEPART(HOUR, entry_time) AS visit_hour,
    COUNT(*) AS total_visits
FROM dbo.Session_Info
GROUP BY DATEPART(HOUR, entry_time)
ORDER BY total_visits DESC;

--------------------------------------------------------------------------------
-- Ratio of repeat visitors (visitors who come more than once)
SELECT 
    COUNT(*) * 1.0 / (SELECT COUNT(DISTINCT device_id) FROM dbo.Visit_Info) AS repeat_visitor_ratio
FROM (
    SELECT device_id
    FROM dbo.Visit_Info
    WHERE total_visits > 1
) AS repeat_visitors;

--------------------------------------------------------------------------------
-- Zones with the highest visitor traffic
SELECT TOP 10
    zone,
    COUNT(DISTINCT session_id) AS unique_visits
  
FROM dbo.Location_Info
GROUP BY zone
ORDER BY unique_visits DESC;

--------------------------------------------------------------------------------
-- Visitors with the highest number of visits
SELECT TOP 10
    device_id,
    total_visits
FROM dbo.Visit_Info
ORDER BY total_visits DESC;


--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
-- Most common paths visitors take inside the place
SELECT TOP 10
    movement_path,
    COUNT(*) AS path_count
FROM dbo.Location_Info
GROUP BY movement_path
ORDER BY path_count DESC;
--------------------------------------------------------------------------------
-- Full Dwell Time per Visitor per Session with Zones and Nearby Stores

SELECT
    v.device_id,
    v.device_type,
    v.device_vendor,
    vi.total_visits,
    s.session_id,
    s.entry_time,
    s.exit_time,
    DATEDIFF(MINUTE, s.entry_time, s.exit_time) AS dwell_minutes,
    l.zone,
    l.movement_path,
    l.ap_id,
    n.near_store,
    n.bandwidth_used_mb,
    n.latency_ms,
    n.connection_status
FROM dbo.Visitor_Info v
JOIN dbo.Visit_Info vi
    ON v.device_id = vi.device_id
JOIN dbo.Session_Info s
    ON v.device_id = s.device_id
JOIN dbo.Location_Info l
    ON s.session_id = l.session_id
JOIN dbo.shop_network n
    ON s.session_id = n.session_id
ORDER BY v.device_id, s.entry_time;







-- Zone with Most Disconnects

SELECT TOP 1
    l.zone,
    COUNT(*) AS disconnect_count
FROM dbo.Location_Info l
JOIN dbo.Session_Info s
    ON l.session_id = s.session_id
WHERE s.disconnects > 0
GROUP BY l.zone
ORDER BY disconnect_count DESC;



--------------------------------------------------------------------------------
---------------------------------------------------------------------------------
-- Total time spent per zone and the zone with maximum time

WITH ZoneDwell AS (
    SELECT
        l.zone,
        SUM(DATEDIFF(HOUR, s.entry_time, s.exit_time)) AS total_minutes
    FROM dbo.Session_Info s
    JOIN dbo.Location_Info l
        ON s.session_id = l.session_id
    GROUP BY l.zone
)

SELECT *
FROM ZoneDwell
ORDER BY total_minutes DESC;



